<h1>Log in</h1>

<div class="form-container">
  <%= form_with scope: :session, url: login_path do |f| %>
  <div class="form-field">
    <%= f.label :email, class: 'label'%>
    <%= f.email_field :email, class: 'label' , placeholder: "Enter email"%>
  </div>
  <div class="form-field">
    <%= f.label :password , class: 'label' %>
    <%= f.password_field :password, class: 'label', placeholder: "Enter password"%>
  </div>
  <div class="button">
    <%= f.submit "login"%>
  </div>
    <%end%> 
</div>


  
</div>