<%= render 'shared/errors', object: @user%>

<div class="form-container">
  
    <%= form_with(model: @user ) do |f| %>
  <div class="form-container-inner">
    <div class="form-field">
        <%= f.label :username, class: 'label' %>
        <%= f.text_field :username ,placeholder: "Enter username", class: 'input'%>
    </div>

    <div class="form-field">
        <%= f.label :email, class: 'label'%>
        <%= f.email_field :email, placeholder: "Enter email",class: 'input'%>
    </div>

    <div class="form-field">
        <%= f.label :password , class: 'label' %>
        <%= f.password_field :password, placeholder: "Enter password", class: 'input'%>
    </div>

    <div class="button">
        <%= f.submit%>
    </div>
  </div>
  <%end%> 
 
</div>


  
</div>