<%= render 'shared/errors'%>
<h1 class="headings">
  Welcome to signup page 
</h1>

<div class="form-container">
  <%= form_with(model: @user, url: '/users') do |f| %>
  <div class="form-field">
    <%= f.label :username, class: 'label' %>
    <%= f.text_field :username,  class: 'label',placeholder: "Enter username"%>
  </div>
  <div class="form-field">
    <%= f.label :email, class: 'label'%>
    <%= f.email_field :email, class: 'label' , placeholder: "Enter email"%>
  </div>
  <div class="form-field">
    <%= f.label :password , class: 'label' %>
    <%= f.password_field :password, class: 'label', placeholder: "Enter password"%>
  </div>
  <div class="button">
    <%= f.submit%>
  </div>
    <%end%> 
</div>