<h1>This space belongs to :</h1>
  <ul>
    <li>
      <span class="user-name"><%= @user.username%></span>
      Created this at : <%= @user.created_at%> and updated at : <%= @user.updated_at%>
    </li>
    
    <li>
      <%= link_to "Home/root", '/'%>
    </li>
    
    

    <% if logged_in? && current_user == @user %>
      <li class="button">
        <%= link_to "Logout", '/logout', data: {
                        turbo_method: :delete}%>
      </li>
      
      <li>
        <%= link_to "edit", edit_user_path%>
      </li>
        <%= current_user.email%>
        <li class="button"><%=link_to "Delete" , user_path(current_user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
    <% end%>

                        
  </ul>