<div class="users-space">
  <div class= "include-title">
    <div class="feed-background">
      <% @user.articles.each do |article|%>
        <!-- Articles -->
        <div class="article-parent-container">
          <div class="parent-article-user-name">
            <div class="article-user-name">
              <%= article.user.username%>
            </div>
          </div>

          <div class="article-container">
            <div class="article-header">
              <%= article.title%>
            </div>
            <div class="article-body">
              <%= article.description%>
            </div>
          
          <% if article.categories.any?%>
            <%= render article.categories%>
          <%end%>

          <!-- Actions -->
            <div class="article-actions">
              <% if logged_in?%>
                <% if current_user == @user%>
              <%= link_to "Edit", edit_article_path(article), class: "edit-action"%>
              <%end%>
                <% if current_user.admin? || current_user == @user%>
              <%= link_to "Delete", article_path(article), data: {
                  turbo_method: :delete, turbo_confirm: "Are you sure!"},
                  class: "delete-action"%>
              <%end%>
            <%end%>
            </div>
          </div>
      </div>
      <%end%>
    </div>
  </div>
  <%=link_to "logout", logout_path, data: {turbo_method: :delete}%>
  <%=link_to "Delete Account", user_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@user.username} and its associated articles"}%>
</div>



















  <!-- > <div class="">
    <div>
    <ul>
      <li class="description form-container-inner">
        <%= @user.username%>
      </li>
      <li class="description form-container-inner">
        Created this at : <%= time_ago_in_words(@user.created_at)%>
      </li>
      <div class="form-container-inner">
        <% if logged_in? %>
          <% if @user == current_user%>
            <%= link_to "Edit", edit_user_path, class: "button"%>
            <%= link_to "Delete Account", user_path(current_user), class: "button", data: {turbo_method: :delete, turbo_confirm: "Are You Sure?"}%>
            <% end %>
            <% if current_user.admin?%>
              <%= link_to "Delete Account", user_path(@user), class: "button", data: {turbo_method: :delete, turbo_confirm: "Are You Sure?"}%>      
            <%end%>
          <%end%>
      <%= link_to "Home/root", '/', class: "button"%>
      <%= link_to "logout", logout_path, data: { turbo_method: :delete }  %>

      
      </div>
    </ul>
  </div>
  -->
