<h1>This space belongs to :</h1>
  <div class="form-container">
    <div>
    <ul>
      <li class="description form-container-inner">
        <%= @user.username%>
      </li>
      <li class="description form-container-inner">
        Created this at : <%= @user.created_at%> and updated at : <%= @user.updated_at%>
      </li>
      <div class="form-container-inner">
        <% if logged_in? %>
          <% if @user == current_user%>
            <%= link_to "Edit", edit_user_path, class: "button"%>
            <%= link_to "Delete Account", user_path(current_user), class: "button", data: {turbo_method: :delete, turbo_confirm: "Are You Sure?"}%>
            <% end %>
            <% if current_user.admin?%>
              <%= link_to "Delete Account", user_path(@user), class: "button", data: {turbo_method: :delete, turbo_confirm: "Are You Sure?"}%>      
            <%end%>
          <%end%>
      <%= link_to "Home/root", '/', class: "button"%>

      
      </div>
    </ul>
  </div>