<h1>This space belongs to :</h1>
<ul>
  <li>
    <span class="user-name"><%= @user.username%></span>
    Created this at : <%= @user.created_at%> and updated at : <%= @user.updated_at%>
  </li>
  <li><%= link_to "Home/root", '/'%></li>
  <li><%= link_to "edit", 'users/:id/edit'%></li>
      <li class="button"><%= link_to "Destroy", '/logout', data: {
                      turbo_method: :delete}%>
                      </li>
                      
</ul>